/* reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background-color: cornflowerblue;
    font-family: 'Nerko One', cursive;
}

/* Utils */
.container{
    width: 1200px;
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.col{
    float: left;
}

.br-15{
    border-radius: 15px;
}

/* Header  */
header h1{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 100px;
    line-height: 160px;
}

/* main */
.card{
    height: 300px;
    width: calc((100% / 4) - 20px);
    margin: 20px 10px;
    background-image: url(../img/pattern.png);
    background-size: contain;
}

.card:hover, .row:nth-child(2) .card:nth-child(2){
    background-image: none;
    background-color: white;
}

figure{
    visibility: hidden;
}

.card:hover *{
    visibility: visible;
    padding: 0 auto;
    text-align: center;
}

.row:nth-child(2) .card:nth-child(2) figure{
    visibility: visible;
    text-align: center;
}

figure img{
    margin-top: 2%;
    width: 80%;
}

.card h2{
    text-align: center;
    font-size: 48px;
}

/* cards class */

.air-baloon{
    color: purple;
}

.bicycle{
    color: red;
}

.tractor{
    color: salmon;
}

.cruise-ship{
    color:limegreen;
}

.tram{
    color: goldenrod;
}

.submarine{
    color: cyan;
}