/* reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background-color: cornflowerblue;
    font-family: 'Nerko One', cursive;
}

/* Utils */
.container{
    width: 1200px;
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.col{
    float: left;
}

.br-15{
    border-radius: 15px;
}

/* Header  */
header h1{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 100px;
    line-height: 160px;
}

/* main */
.card{
    height: 300px;
    width: calc((100% / 4) - 20px);
    margin: 20px 10px;
    background-image: url(../img/pattern.png);
    background-size: contain;
}
